* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Start coding here */

:root {
  --branding-color: #ff7f50;
  --secondary-color: cornsilk;
  --highlight-color: #d2691e;
  --muted-color: #a9a9a9;
  --level1-margin: 1px;
  --level2-margin: 5px;
  --level3-margin: 10px;
  --level4-margin: 15px;
  --level5-margin: 20px;
  --level1-padding: 1px;
  --level2-padding: 5px;
  --level3-padding: 10px;
  --level4-padding: 15px;
  --level5-padding: 20px;
  --small-font: 12px;
  --medium-font: 16px;
  --large-font: 20px;
  --extra-large-font: 30px;
  --double-extra-large-font: 50px;
  --triple-extra-large-font: 100px;
}

.introduction {
  background-color: var(--secondary-color);
  padding: var(--level5-padding);
}

.introduction h1 {
  color: var(--branding-color);
  font-size: var(--triple-extra-large-font);
}
